
.blue {
    color: blue;
}

.red {
    color: red;
}

.arial {
    font-family: Arial, Arial Black, Verdana;
    font-size: 0.8em;
    font-style: italic
}

#SE {
    font-family: Courier New, Times New Roman;
    font-size: 1.2em;
    font-style: oblique;
}

#body {
    text-indent: 20px;
}

.background-color {
    color: white;
    background-color: cadetblue;
    padding: 20px;
    width: 500px;
}

.background-color img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 1.5em;
}

dt {
    color: rebeccapurple;
}
